{% extends 'layout.twig' %}

{% block content %}
    <section class="hero is-fullheight">

        <div class="hero-body">
            <div class="container has-text-centered content">
                <button id="randomPatternButton" class="button" data-href="{{ url('random-pattern') }}">Random pattern</button>
                <button id="gospersGliderGunButton" class="button" data-href="{{ url('gospers-glider-gun') }}">Gosper's Glider Gun</button>
                <br>
                <label id="loadingLabel" style="display: none">Generating animation...</label>
            </div>
        </div>

    </section>
{% endblock %}

{% block footerAssets %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/js/IndexPageController.js') }}"></script>
{% endblock %}