{% extends 'layout.twig' %}

{% block content %}
    <div class="row align-items-center">
        <div class="offset-md-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <button id="randomPatternButton" class="btn btn-primary btn-block" data-href="{{ url('random-pattern') }}">Random pattern</button>
                    <button id="gospersGliderGunButton" class="btn btn-primary btn-block" data-href="{{ url('gospers-glider-gun') }}">Gosper's Glider Gun</button>
                    <label id="loadingLabel" style="display: none">Generating animation...</label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerAssets %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/js/IndexPageController.js') }}"></script>
{% endblock %}