<nav class="navbar is-fixed-top has-background-light">
    <div class="navbar-brand">
        <a class="navbar-item" href="/"><img src="/assets/images/logo_box.png"><label>Life</label></a>
    </div>
</nav>